:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 400;
  text-shadow: 0 2px 4px rgba(3, 10, 39, 0.36);

  /* color-scheme: dark; */
  color: var(--color-text);
  /* color: #161a1d; */
  /* color: #161a1d; */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* background: linear-gradient(to right top, #935400, #a96813, #be7c24, #d49134, #eaa644) no-repeat fixed; */
  background: fixed url('@assets/imgs/app_background.jpg') no-repeat center / cover;
  /* background-size: cover; */
  /* background-color: #4c1501; */
  /* background-color: #c45353; */

  min-height: 100vh;
}

:root {
  --animation-duration: 0.3s;
}

:root {
  --content-viewing-padding-top: 4.125rem;
}

:root {
  --color-primary: #362706;
  --color-secondary: #464e2e;
  --color-tertiary: #acb992;
  --color-quaternary: #e9e5d6;
}

:root {
  --color-text: rgba(255, 255, 255, 0.87);
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
*/
/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  }
  a:hover {
    color: #535bf2;
  }
  button {
    background-color: #1a1a1a;
  }
} */

/* background: rgba(255, 255, 255, 0.25); */
/* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
/* border-radius: 10px; */
/* backdrop-filter: blur(4px); */
/* -webkit-backdrop-filter: blur(4px); */
/* border: 1px solid rgba(255, 255, 255, 0.18); */
